<div>
    <h1>Edit Post</h1>
    <form id="edit-post-form">
        <div>
            <label for="post-title">Title</label>
            <textarea type="text">{{post.title}}</textarea>
        </div>
        <div>
            <label for="post-body">Body</label>
            <textarea type="text">{{post.body}}</textarea>
        </div>
        <div>
            <button type="submit" id="update">Update Post</button>
            <button type="submit" id="delete">Delete Post</button>
        </div>
    </form>
</div>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>