<div>
    <h1>Log In</h1>
    <div>
        <label for="email">Email Address</label>
        <input type="text" id="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password">
    </div>
    <div>
        <button id="login">Log In</button>
        <button><a href="/signup">Sign Up</a></button>
    </div>
    <div>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>

<script src="/js/login.js"></script>