<div>
    <h1>New Post</h1>
    <div>
        <label for="title">Post Title</label>
        <input type="text" id="title">
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text" id="content">
    </div>
    <div>
        <button class="button" id="post">Post</button>
    </div>
    <div>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>

<script src ="/js/new.js"></script>