<div>
    <h1>New Post</h1>
    <form id="new-post-form">
        <div>
            <label>Post Title</label>
            <input for="post-title" type="text" id="title">
        </div>
        <div>
            <label>Body</label>
            <textarea for="post-body" type="text" id="body"></textarea>
        </div>
        <div>
            <button type="submit" id="post">Post</button>
        </div>
    </form>
    <div>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>

<script src="/js/new.js"></script>