<div>
    <h1>Sign Up</h1>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password">
    </div>
    <div>
        <button id="signup">Sign Up</button>
        <button><a href="/login">Log In</a></button>
    </div>
    <div>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>

<script src="/js/signup.js"></script>