<div>
    <h1>Sign Up</h1>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email-signup">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password-signup">
    </div>
    <div>
        <button type="submit" id="signup">Sign Up</button>
        <button><a href="/login">Log In</a></button>
    </div>
    <div>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>

<script src="/js/signup.js"></script>