{{> post-info post}}

{{#if loggedIn}}
<div>
    <div>
        <textarea class="textarea"></textarea>
    </div>
    <div>
        <button class="button" id="comment">Comment</button>
    </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}